html{
    font-size: 15px;
}
body{
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    color: #2B2A2C;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/* Header */
.header{
    padding: 1.2rem 0;

}

.header__inner {
    display: flex;
    justify-content: space-between;

    padding-bottom: 2px;
    border-bottom: 1px solid rgba(106, 105, 107, 0.3);;
}

/* Logo */
.logo{
    display: flex;

}

.logo__avatar{
    width: 57px;
    height: 57px;
}

.logo__avatar__img{
    align-items: center;
    border-radius: 50%;
}

.logo__content{
    padding-left: 9px;
}

.logo__name{
    margin-bottom: 3px;
    font-size: 1.06rem;
    line-height: 1.3rem;
    color: #2B2A2C;
    font-weight: 700;
}

.logo__email{
    font-size: 0.8rem;
    color: rgba(43, 42, 44, 0.7);
}

/* Nav */
.nav{
    display: flex;
    height: 100%;
}

.nav__link{
    margin-left: 0.5rem;
    padding: 0.66rem 2rem;
    color: #2B2A2C;
    font-size: 0.93rem;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;

    border: 2px solid transparent;
    border-radius: 20px;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.nav__link:hover{
    background-color: #2B2A2C;
    color: #fff;
}

/* Posts */
.posts{
    padding: 1rem 0;
}

/* Post */
.post{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.post__col{
    flex-basis: 33.33%;
    padding: 1rem;
}

/* Item */
.item{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.item__image{
    display: block;
    max-width: 100%;
    height: auto;
}

.item__content{
    padding: 1rem 0.8rem;
}

.item__cat{
    font-size: 0.8rem;
    color: #2B2A2C;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.item__title {
    font-size: 1.06rem;
    font-weight: 700;
    color: #2B2A2C;
    text-transform: uppercase;
}