<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/posts/{id}(id = ${post.getId()})}">
    <label for="description">Description:</label>
    <input type="text" th:field="*{post.description}" id="description">
    [[${post.getGameMap()}]]
    <br/>
    <br/>
    <th:block th:each="map : ${maps}">
        <label th:inline="text">
            <input type="radio" th:field="*{gameMap.name}" th:value="${map.getName()}" name="name"/>
            [[${map.getName()}]]
        </label>
        <br>
    </th:block>
    <input type="submit" value="Update">
</form>
</body>
</html>